#CloudContainer {
  background: #fff;

  min-height: 100%;
  height: 100%;

  #appHeader {
    z-index: 30;
    .button {
      color: rgba(255, 255, 255, 0.7);
    }
    > h1 {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 200;
    }
  }

  #CloudContent {
    position: relative;
    z-index: 15;
    height: 100%;
    display: block;
    padding-top: 6rem;

    .intro {
      background: rgba(0, 0, 0, 0.9);
      @supports (backdrop-filter: blur(0.5rem) saturate(125%)) or
        (-webkit-backdrop-filter: blur(0.5rem) saturate(125%)) {
        -webkit-backdrop-filter: blur(0.5rem) saturate(125%);
        backdrop-filter: blur(0.5rem) saturate(125%);
        background-color: rgba(0, 0, 0, 0.5);
      }
      padding: 2rem;
      color: #fff;
      position: absolute;
      z-index: 15;
      bottom: 2rem;
      left: 2rem;
      max-width: 60rem;
      border-radius: 0.6rem;
      &.hide {
        display: none;
      }
      h1 {
        font-weight: 200;
        color: #fff;
      }
      #close {
        display: block;
        position: absolute;
        top: 0rem;
        right: 0rem;
        border-radius: 0 0.6rem 0 0;
        border: none;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        color: #fff;
        font-size: 1.4rem;
        padding: 0;
        background: none;
        outline: none;
        z-index: 15;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
          background: rgba(255, 0, 0, 0.5);
        }
      }
    }
    .fab {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      z-index: 20;
      i {
        font-size: 3rem;
      }
    }

    #theCloud {
      position: absolute;
      top: 2rem;
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
      z-index: 10;
    }
  }
}
@media screen and (max-width: 50rem) {
  #CloudContainer {
    height: calc(100% - 6rem);
    min-height: calc(100% - 6rem);
    #CloudContent {
      min-height: calc(100% - 6rem);
      .intro {
        position: relative;
        left: initial;
        bottom: initial;
        margin: 0rem 2rem 2rem;
        background: none;
        backdrop-filter: none;
        padding: 0;
        &.hide {
          display: block;
        }
        #close {
          display: none;
        }
      }
      .fab {
        position: fixed;
      }
      #theCloud {
        position: relative;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
        height: 30rem;
      }
    }
  }
}
