#CloudContainer {
  background: #fff;

  min-height: 100%;

  #appHeader {
    z-index: 30;
    .button {
      color: rgba(255, 255, 255, 0.7);
    }
    > h1 {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 200;
    }
  }
  #homeVideo {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    //z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    //background: url(images/poster.jpg) no-repeat;
    background-size: cover;
    transition: 1s opacity;
    max-width: none;
    max-height: none;
  }

  #videoOverlay {
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
  }
  #CloudContent {
    position: relative;
    z-index: 15;
    .welcomeContainer {
      max-width: 50rem;
      margin: 0 auto;
      padding: 2rem;
      > #brand {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        > img {
          height: 4rem;
          margin-right: 1rem;
        }
        > header {
          display: flex;
          flex-direction: column;
          > h1 {
            text-transform: uppercase;
            font-weight: 200;
            font-size: 1.2rem;
            line-height: 1.2rem;
            color: rgba(255, 255, 255, 0.7);
          }
          > h2 {
            text-transform: uppercase;
            font-weight: 200;
            font-size: 1.2rem;
            line-height: 1.4rem;
            margin: 0;
            color: rgba(255, 255, 255, 0.8);
          }
        }
      }
      > .welcome {
        color: #fff;
        margin: 10rem 0 5rem 0;
        h1 {
          font-weight: 200;
          color: #fff;
        }
        .welcomeBtn {
          margin: 2rem 2rem 2rem 0;
          border: 0.1rem solid rgba(255, 255, 255, 0.7);
          color: rgba(255, 255, 255, 0.7);
          font-weight: 200;
          text-decoration: none;
        }
        .addWordBtn {
          background: rgba(255, 255, 255, 0.7);
          color: rgba(0, 0, 0, 0.9);
          border: none;
        }
      }
    }
  }
}
