#AddTagContainer {
  background: #fff;
  padding-top: 6rem;
  min-height: 100%;

  #appHeader {
    .button {
      color: rgba(0, 0, 0, 0.5);
    }
    > h1 {
      color: rgba(0, 0, 0, 0.7);
      font-weight: 200;
    }
  }
  #AddTagContent {
    padding: 2rem;

    .mainForm {
      max-width: 50rem;
      margin: 0 auto;
      display: block;
      //text-align: center;

      .md-field {
        .md-helper-text {
          max-width: calc(100% - 6rem);
          text-align: left;
          bottom: initial;
          top: 5rem;
          height: auto;
          min-height: 2rem;
        }
      }
      .sendButton {
        margin: 5rem 0 0 0;
        width: 100%;
      }
    }
  }
}
