$appBackground: #000000;

//Units
$minUnit: 1;
$baseUnit: 4; //4 pixel is base unit. All sizes must be multiples of 4.

//colors

//Font Size
$standardFontSize: 16px;
$baseFontSize: 10px;

//Font Color
$baseFontColor: #000;

//Font Family
$baseFontFamily: "Roboto", sans-serif; //"Raleway", sans-serif;
