@import "_variables";
html {
  font-size: $standardFontSize;
  font-size: ($baseFontSize/$standardFontSize * 100%) !important;
  height: 100%;

  .touch-device {
    /*activate the GPU for compositing each page */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-touch-action: none;
    touch-action: none;
    -webkit-overflow-scrolling: touch;
  }
}

body {
  width: 100%;
  margin: 0;
  position: relative;
  height: 100%;
  font-family: $baseFontFamily;
  font-size: inherit;
}

.list {
  padding: 1rem;

  > li {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    //min-height: 5rem;
    line-height: 2rem;
    font-size: 1.6rem;
  }
}

#app {
  background: $appBackground;
  height: 100%;

  #mainNav {
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(250, 235, 215, 1) 100%
    );
    z-index: 900;
    width: 32rem;
    box-sizing: border-box;
    padding: 0 0;
    color: #000;
    transition: all 0.3s;
    //border-right: 0.1rem solid rgba(0, 0, 0, 0.2);

    @supports (backdrop-filter: blur(0.5rem) saturate(125%)) or
      (-webkit-backdrop-filter: blur(0.5rem) saturate(125%)) {
      -webkit-backdrop-filter: blur(0.5rem) saturate(125%);
      backdrop-filter: blur(0.5rem) saturate(125%);
      background-color: rgba(255, 255, 255, 0.5);
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(250, 235, 215, 1) 100%
      );
    }

    transition: 0.3s all;
    &.hide {
      left: -32rem;
    }
    &.show {
      left: 0;
    }

    ul {
      margin-top: 1rem;
      > li {
        font-size: 2rem;
        padding: 0;
        > a {
          display: flex;
          padding: 1rem 2rem;
          color: #000;
          text-decoration: none;
          > i.optionIcon {
            font-size: 2rem;
            line-height: 2rem;
            margin-right: 2rem;
          }
          > span.optionText {
            font-size: 1.6rem;
            line-height: 2rem;
          }
          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  #navOverlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(100, 0, 0, 0.7);
    z-index: 899;
    transition: 0.3s all;
    //&.hide {
    //  left: -100%;
    //  opacity: 0;
    //}
    //&.show {
    //  left: 0;
    //  opacity: 1;
    //}

    &.fade-enter-active {
      transition: opacity 1s;
    }
    &.fade-leave-active {
      opacity: 0;
    }
  }

  main {
    height: 100%;
    .pageContainer {
      padding-top: 6rem;
      min-height: 100%;
      box-sizing: border-box;
      z-index: 10;
    }
  }

  #appHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    box-sizing: border-box;
    background: none;
    z-index: 20;

    .button {
      outline: none;
      cursor: pointer;
      box-sizing: border-box;
      border: none;
      font-size: 2rem;
      width: 6rem;
      height: 6rem;
      padding: 0;
      background: none;
      color: rgba(0, 0, 0, 0.5);
    }
    > h1 {
      height: 6rem;
      line-height: 6rem;
      font-size: 2rem;
      padding-left: 1rem;
    }
  }
}
