#homeVideoContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#homeVideo {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  //z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  //background: url(images/poster.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
  max-width: none;
  max-height: none;
}

#videoOverlay {
  position: fixed;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  background: url(../../assets/fondocurso.jpg);
  background-size: cover;
}
#videoOverlay2 {
  position: fixed;
  z-index: 12;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}
